:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #D65348, #30AD34);
  --vp-home-hero-image-background-image: linear-gradient( -45deg, #30AD34 50%, #D65348 50% );
  --vp-home-hero-image-filter: blur(72px);
}

.vp-doc table.el-table__body,
.vp-doc table.el-table__header {
  margin: 0;
}

.vp-doc table.el-table tr {
  border-top: none;
}

.vp-doc ul.el-upload-list {
  list-style: none;
  margin-left: 0;
  padding: 0;
}